
.banner{
    width: 1500px;
    height: 1000px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgb(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    /* align-items: center;
    justify-content: center;
    height: 100vh; */
}

/* --------botton---------- */
.button {
    border-radius: 10px;
    background-color: red;
    padding: 10px;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: palevioletred;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* -------SeatGroup----------- */

.seatGroup{
    height: 750px;
    width: 900px;
    top: 25px;
    /* display: block; */
}

.GroupT{
    height: 11%;
    width: 900px;
    border: 2px solid white;
    border-radius: 1%;
    position: relative;
    left: 7%;
    right: 12.5%;
    top: 100px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.T{
    display: flex
}
.boxT{
    height: auto ;
    width: 80px;
}
.GroupSofa{
    height: 11%;
    width: 100%;
    border: 2px solid white;
    border-radius: 1%;
    position: relative;
    left: 7%;
    right: 12.5%;
    top: 100px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.boxB{
    height: auto ;
    width: 58px;
}
.B{
    display: flex;
}
.GroupVVIP{
    height: 11%;
    width: 100%;
    border: 2px solid white;
    border-radius: 1%;
    position: relative;
    left: 7%;
    right: 12.5%;
    top: 100px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.boxVVIP{
    height: auto ;
    width: 35px;
}
.VVIP{
    display: flex;
}
.GroupRegular{
    height: 320px;
    width: 100%;
    border: 2px solid white;
    border-radius: 1%;
    position: relative;
    left: 7%;
    right: 12.5%;
    top: 100px;
    bottom: 100px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
}
.rowR{
    display: flex;
    justify-content: left;
}

.regular{
    height: 50%;
    width: 100%;
    /* border: 2px solid white; */
    border-radius: 1%;
    position: relative;
    left: 7%;
    right: 2px;
    top: 10px;
    bottom: 100px;
}

.stage{
    height: 320px;
    width: 150px;
    background-color: aliceblue;
    border-radius: 1%;
    position: relative;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    text-align: center; /* Center the text horizontally */
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.textStage{
    text-align: center;
}
.GroupVIP{
    height: 11%;
    width: 100%;
    border: 2px solid white;
    border-radius: 1%;
    position: relative;
    left: 7%;
    right: 12.5%;
    top: 100px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}

.boxVIP{
    height: auto ;
    width: 355px;
}
.VIP{
    display: flex;
}
/* ------Toggle---------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.text{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    justify-content: center;
}

.toggle-checkbox {
    display: none;
}
#name-field {
    padding: 5px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
}
.greeting{
    padding: 5px;
    font-size: 16px;
    /* margin: 10px; */
    border-radius: 5px;
    text-decoration-color: #ccc;
}
.toggle-label {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.2s;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: pink;
}

#toggle-button {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU2 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU4 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU6 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;    
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU8 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU10 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU13 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU15 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU17 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU18 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU20 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU30 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU22 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU24 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU26 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCU28 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCUE2 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCUE3 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonCUE5 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #DE5C8E; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU1 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU3 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU5 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU7 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU9 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU11 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU12 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU14 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU16 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU19 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU21 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU23 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU25 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU27 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU29 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTU31 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTUE1 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonTUE4 {
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
/*     background-color: #FFD040; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}

#toggle-buttonVVIP1 {
    margin-inline: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonVVIP2 {
    margin-inline: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonVVIP3 {
    margin-inline: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT1 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT2 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    background-color: #F5F5F5;
/*     background-color: #848884; */
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT3 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT4 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT5 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT6 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT7 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT8 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    background-color: #F5F5F5;
/*     background-color: #848884; */
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT9 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    background-color:#F5F5F5;
/*     background-color: #848884; */
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonT10 {
    margin-inline: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    background-color: #F5F5F5;
/*     background-color: #848884; */
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB1 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB2 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB3 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB4 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB5 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB6 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonB7 {
    margin-inline: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}

#toggle-buttonC1 {
    margin-inline: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonC2 {
    margin-inline: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonC3 {
    margin-inline: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}
#toggle-buttonC4 {
    margin-inline: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
/*     background-color: #F5F5F5; */
    background-color: #848884;
    border-radius: 100%;
    transition: all 0.2s;
}

/* ---------detail Group-------- */

.detailGroup{
    height: 75%;
    width: 30%;
    border: 2px solid white;
    border-radius: 1%;
    position: relative;
    top: 100px;
    left: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.description{
    font-family: "Gill Sans", sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: azure;
}
.detailText{
    font-family: "Gill Sans", sans-serif;
    font-size: 12.5px;
    font-weight: 100;
    color: azure;
}

/* ---------Content---------------- */
.content{
    display: flex;
}

/* -------- logo Milley ---------- */
.logoMilley {
    height: 30px;
    width: 200px;
    justify-content: center;
    justify-items: center;
    top: 860px;
    left: 615px;
    align-content: center;
    position: absolute;
}

/* Optional: Style the logo image */
.logoMilley img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain the image's aspect ratio */
}

/* -------- Head Text ---------- */
.head {
    height: 10px;
    width: 1000%;
    bottom: 100px;
    justify-content: center;
    justify-items: center;
    top: 10px;
    bottom: 5px;
    left: 300px;
    align-content: center;
    position: absolute;
}

/* Optional: Style the logo image */
.headText {
    font-family: "Gill Sans", sans-serif;
    color:#ffffff;
    font-size: 40px;
    font-weight: 200;
}
